.bar-chart {
  cursor: ew-resize;
  &__grid-line {
    height: 1px;
    stroke: #000;
    stroke-opacity: 0.2;
  }

  &__rect {
    transition: 0.2s;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }

  &__text {
    transform: rotate(-90deg) translate(-30px, -10px);
  }

  &__label-info-text {
    font-size: 1em;
    font-weight: 500;
  }
}

.chart {
  position: relative;
  &__label {
    position: absolute;
    min-height: 15px;
    z-index: 2;
    transform: scale(0);
    transition: transform 0.3s;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
  }
  &__bar-price {
    font-size: 12px;
    margin: 0;
  }
}
