.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  &__router-layer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
