.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9em;

  span {
    display: inline-block;
    margin: 0 0 0 4px;
  }

  &__value {
    font-weight: 600;
  }

  &__currency {
    color: #3a3a3a;
  }

  &__profit {
    font-size: 0.7em;
  }
}
