.cryptocurrency-header {
    display: flex;
    align-items: center;
    justify-content: center;

    &__text-block {
        font-size: 14px;
        margin: 20px;

        span {
            display: block;

            &:nth-child(2) {
                font-weight: 500;
            }
        }
    }
}