.crypto-info {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1em;

  span {
    display: inline-block;
    margin: 0 0 0 8px;
  }

  &__code {
    font-weight: 600;
    text-shadow: 1.5px 1.5px 2px #0084ff;
  }

  &__price {
    color: #3a3a3a;
  }

  &__profit {
    font-size: 0.7em;
  }
}
